[submodule ".registry"]
	path = .registry
	url = https://github.com/kazuyanagimoto/kazuyanagimoto.r-universe.dev
	branch = HEAD
[submodule "quartomonothemer"]
	path = quartomonothemer
	url = https://github.com/kazuyanagimoto/quartomonothemer
[submodule "unitdid"]
	path = unitdid
	url = https://github.com/kazuyanagimoto/unitdid
